In [21]:
# Cargamos los m√≥dulos
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from stargazer.stargazer import Stargazer

In [22]:
np.random.seed(42)

diccionario ={
    'female': np.random.binomial(1,0.5, 10000),
    'ability': np.random.normal(size=10000)
}

In [23]:
df = pd.DataFrame(diccionario)
df['discrimination'] = df.female.copy()
df['occupation'] = 1 + df['ability']*2 + df['female']*0 - df['discrimination'] * 2 + np.random.normal(size=10000)
df['wage'] = 1 - df['discrimination'] + df['occupation'] + df['ability'] + np.random.normal(size=10000)
df.head()

   female   ability  discrimination  occupation      wage
0       0 -1.487862               0   -2.591872 -2.296051
1       1 -1.125186               1   -3.643047 -4.760694
2       1  0.388819               1   -1.254189 -0.210557
3       1 -1.173873               1   -4.236999 -6.425189
4       0  1.112634               0    3.659646  5.915666

In [24]:
modelo1 = sm.OLS.from_formula('wage ~ female', data = df)
modelo2 = sm.OLS.from_formula('wage ~ female + occupation', data = df)
modelo3 = sm.OLS.from_formula('wage ~ female + occupation + ability', data = df)

In [26]:
st = Stargazer((modelo1.fit(), modelo2.fit(), modelo3.fit()))
st.custom_columns(["Sesgado incondicional", "Sesgado", "Insesgado Condicional"], [1,1,1])
st